<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title inertia>
      Blog
    </title>
    <meta property="og:url" content="https://blog.thond.re" />
    <meta property="og:site_name" content="Blog" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />

    <link rel="icon" href="https://thond.re/logo.svg" />
    <meta property="og:image" content="https://thond.re/logo.png" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="800" />
    <meta property="og:image:alt" content="Thonder Logo" />

    <meta name="robots" content="index, follow" />
    <meta
      name="googlebot"
      content="index, follow, max-video-preview:-1, max-image-preview:large, max-snippet:-1"
    />

    @vite(['inertia/css/app.css', 'inertia/app/app.ts', `inertia/pages/${page.component}.vue`])
    @inertiaHead()
    @stack('dumper')
  </head>

  <body class="font-sans antialiased">
    @inertia()
  </body>

</html>
